[submodule "backup_desktop"]
	path = backup_desktop
	url = git@github.com:PetrusZ/GentooConfig.git
[submodule "backup_dotfiles"]
	path = backup_dotfiles
	url = git@github.com:PetrusZ/dotfiles.git
[submodule "backup_laptop"]
	path = backup_laptop
	url = git@github.com:PetrusZ/R7000Config.git
